{% extends 'base.html' %} {% block head%}
<link href="" rel="stylesheet">
{% endblock %} 

{% block content %}
<style>
    .home{
    display: flex;
    justify-content: center;
    align-items:center;
    height: 100vh;
}

</style>

<div class="container-fluid home">
    <div class="row">
        <div class="col-12 welcome-text"> Welcome to Trivia 100!</div>
        <div class="col-12 other-text mt-2">Start a new game?</div>
        <div class="col-12 p-auto mt-3 button-con">
            <button class="easy" >
                Easy
            </button></a>
            <button class="medium">
                Medium
            </button>
            <button class="hard">
                Hard
            </button>
        </div>
    </div>
    
</div>
{% endblock %}